{{#section 'title'}}Admin Panel - {{/section}}

<div class="card">
    <div class="card-header bg-success text-light">
        <b>ADMIN PANEL</b>
    </div>
        <a class="list-group-item list-group-item-action" href="/admin/categories">
        <i class="fas fa-arrow-circle-right"> Quản lý chuyên mục</i> 
        </a>
        <a class="list-group-item list-group-item-action" href="/admin/posts">
        <i class="fas fa-arrow-circle-right"> Quản lý bài đăng</i> 
        </a>
         <a class="list-group-item list-group-item-action" href="/admin/users">
        <i class="fas fa-arrow-circle-right"> Quản lý người dùng</i> 
        </a>
</div>