body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,Cantarell,Oxygen,Roboto,Helvetica,Arial,sans-serif;
}

#menu ul {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}
#menu li{
    color: #f1f1f1;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 40px;
    margin-left: -5px;
    border-left: 1px solid rgba(255,255,255,.2);
    padding: 0px 10px 0px 10px;
}
#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}
#menu li:hover {
    background: #1e7e34;
    color: #fff;
}
a.click {
    padding: 4px 5px 4px 5px;
}
a.click:hover {
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: auto;
}
.khoangtrang {
    margin-top: 15px;
}
.chuyenmuc {
    border-left: 1px solid green;
    border-left-width: 4px;
    padding-left: 7px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.tag {
    border-left: 1px solid green;
    border-left-width: 4px;
    padding-left: 7px;
}
.subcate {
    color: #495057;
    font-size: 14px;
    padding-left: 12px;
    font-weight: 600;
}
.trong {
    padding-bottom: 10px;
}
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .30s linear;
    -o-transition: all .30s linear;
    transition: all .25s linear;
}

.fade-scale.in {
opacity: 1;
transform: scale(1);
}

.modal-footer2 {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-header2 {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-content {
    border-radius: 10px;
}

.modal-dialog {
    max-width: 377px;
}

a.tee:hover {
    color: green;
}

.facebook {
    background-color: #3b5998;
}

.banner{
    width: 100%;
    height: 450px;
    overflow: hidden;
    padding-left: 15px;
    box-sizing: border-box; 
 }

.slide {
    width: 1000px;
    height: 500px;
}