{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.min.css">
{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/locales/vi.min.js"></script>
<script>
    $("#fuMain").fileinput({
        theme: 'fa',
        showCaption: true, 
        dropZoneEnabled: true,
        allowedFileExtensions: ['png','jpg','gif'],
        language: 'vi'
    });
</script>
{{/section}}

<form method="post" novalidate enctype="multipart/form-data">
    <div class="card">
        <div class="card-header text-success">Upload ảnh đại diện <a class="text-success" href="/admin/posts/{{this.rows.PostID}}">bài đăng ID: {{this.rows.PostID}}</a></div>
    <div class="card-body">
        <div class="form-group">
            <div class="file-loading">
                <input id="fuMain" name="fuMain" type="file" multiple>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block btn-lg">
                <i class="far fa-check-circle"></i> Upload
            </button>
        </div>
    </div>
        </div>

</form>